@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;600;700&display=swap");
body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.app-logo {
  width: 90px;
}
.nav-bar {
  height: 100px;
  width: 100%;
}
.movie-img {
  margin-top: 20px;
  border-radius: 5px;
  height: 280px;
  width: 200px;
}
.movie-container {
  background-color: black;
}
.movie-box {
  height: fit-content;
  width: 280px;
  border-radius: 5px;
  border: 2px solid rgb(4, 126, 41);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}
.movie-details {
}
.movie-details:hover {
  display: block;
  color: white;
}
.movie-container {
  background-color: black;
  min-height: 100vh;
  width: 100%;
}
.movie-info {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.download-btn {
  font-size: 10px;
  color: white;
  border-radius: 5px;
  background-color: inherit;
  width: 100px;
  height: 30px;
  border: 1px solid red;
  margin-bottom: 10px;
}
.download-btn:hover {
  background-color: red;
}

.Container {
  display: relative;
  min-height: 80vh;
}

.Alert {
  width: 200px;
  display: absolute;
  top: 0;
  right: 55px;
  text-align: center;
}
.spinner {
  text-align: center;
  padding-top: 200px;
}
.error-message {
  display: flex;
  padding-top: 200px;
  justify-content: center;
  align-items: center;
}
.movie-logo {
  width: 250px;
}
Link {
  background-color: aquamarine;
  width: 200px;
}
.download-header {
  background-color: rgb(4, 126, 41);
  height: 70px;
  color: white;
  font-weight: 600;
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
